.header {
  background: linear-gradient(90deg, #000, #222);
  color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav li {
  cursor: pointer;
  transition: 0.3s;
}

.nav li:hover {
  color: #ffd700;
}